body {
    background: #e5e5e5;
    font-family: "Montserrat", sans-serif;
    align-items: left;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    height: 1319px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
    width: 370px;
    background: #1e2939;
}

.cv-photo {
    margin-top: 25px;
}

.headers-secondary {
    color: #fff;
}

.contact-links {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.bold {
    font-weight: 700;
}

.list-secondary {
    color: #fb6d3a;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.list-secondary-item {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}

.tech-skills-block {
    margin-top: 47px;
    margin-left: 40px;
}

.soft-skills-block {
    margin-top: 44px;
    margin-left: 40px;
}

main {
    padding: 87px 88px 87px 88px;
}

.main-description {
    width: 400px;
}

.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 19px;
    margin-bottom: 24px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects {
    width: 485px;
    margin-top: 40px;
    margin-bottom: 51px;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000;
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
}

.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 12px;
}

.header-primary-title {
    margin-bottom: 8px;
}

.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 11px;
}

.highlight {
    color: #fb6d3a;
}

.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
    margin-bottom: 8px;
}

.job-list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 0;
    list-style-position: inside;
    width: 509px;
}

.experience {
    width: 525px;
}

.education {
    width: 525px;
    margin-bottom: 24px;
}

.study-field {
    margin-top: 11px;
    margin-bottom: 12px;
}

.dividing-line {
    color: #000;
}
